<div  ng-controller = "CompanyController as cc">
  <div style = "font-size:1.5em"class = "col-lg-offset-1"ng-controller = "LoginController">
      <p ng-click = "logOut()"class = "col-md-1 text-center">
        <span>LogOut</span><br>
        <span class = "glyphicon glyphicon-log-out"></span>
      </p>
      <p  ng-click = "cc.folderUpload()"class = "col-md-1 text-center">
        <span>Upload</span><br>
        <span  class = "glyphicon glyphicon-upload"></span>
      </p>
      <p ng-click = "cc.deployCloud(cc.companiesReady)"class = "col-md-1 text-center">
        <span>Deploy</span><br>
        <span class = "glyphicon glyphicon-cloud-upload"></span>
      </p>
  </div>
  <div class="jumbotron">
    <h1 class = 'col-md-offset-1'>
      Companies
    </h1>
  </div>
  <div ng-init="cc.init()" class="col-md-6 col-md-offset-3">
    <div ng-if = "!cc.companies"class="list-group">
      <h1>{{cc.loadingText}}</h1>
    </div>
    <ul class = 'list-group 'ng-repeat = 'company in cc.companies'>
      <li ng-click = 'cc.seeCompany(company)'class = 'list-group-item '><a ng-href="#/view_company/{{company.id}}/{{company.name}}"><h3>{{company.id}} {{company.name}}</h3></a></li>
    </ul>
    <ul ng-show = "cc.companies"class = 'list-group'>
      <li ng-click = 'cc.goMain()'class = 'list-group-item'><a href="#/main"><h3>See All</h3></a></li>
    </ul>
  </div>
</div>
</div>
