<div >
        <div class="modal-header">
            <h3 class="modal-title">Deploy Changes To Amazon Cloud</h3>

        </div>
        <div class="modal-body">
              <h1>Local Download</h1>
              <uib-progressbar max="localMax" value="localDynamic"><span style="color:white; white-space:nowrap;">{{localDynamic}} / {{localMax}}</span></uib-progressbar>
              <h1>AWS Upload</h1>
              <uib-progressbar max="awsMax" value="awsDynamic"><span style="color:white; white-space:nowrap;">{{awsDynamic}} / {{awsMax}}</span></uib-progressbar>
              <h1>
                <!-- <a class = "btn btn-danger" ng-click = "writeAll(); myVar = !myVar" ng-disabled = 'myVar'>
                  <span class = "glyphicon glyphicon-cloud"></span>
                  Deploy All
                </a> -->
                <!-- Deploy Custom -->
                <a class = "btn btn-danger" ng-click = "writeCustom(); myVar = !myVar" ng-disabled = 'myVar'>
                  <span class = "glyphicon glyphicon-cloud"></span>
                  Deploy
                </a>
              </h1>
              <h3 ng-show = "deployComplete">
                All Files Uploaded To Amazon!
              </h3>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>

</div>
