<div class = "row">
  <div ng-controller = "LoginController">
    <h1  class = "col-md-offset-1">
      <a ng-href="#/companies">
        <span class = 'glyphicon glyphicon-home'></span>
      </a>
      <a ng-click = "logOut()">
        <span class = "glyphicon glyphicon-log-out"></span>
      </a>
    </h1>
  </div>
  <div ng-controller = "CompanyGroupsController as cg"class="jumbotron">
    <h1 class = 'col-md-offset-1'>
      {{cg.clientId}} {{cg.clientName}}
      <span ng-controller = "CompanyController as cc"ng-click = "cc.modalTerm(cg.clientId,null)" class = "glyphicon glyphicon-plus"></span>
    </h1>
  </div>

  <div ng-controller = "CompanyGroupsController as cg ">
  <div class="container col-lg-6 col-md-offset-2">
    <ul ng-repeat = "(key, val) in cg.groups" class = "list-group">
      <li ng-show = 'cg.hideEmpty(key)'ng-click = 'showGroups = !showGroups'class = "list-group-item"><a>{{key}}</a>
        <span ng-show = 'showGroups'class = 'glyphicon glyphicon-chevron-up pull-right'></span>
        <span ng-hide = 'showGroups'ng-click = 'showGroups = true'class = 'glyphicon glyphicon-chevron-down pull-right'></span>
      </li>
      <h6 ng-show = 'showGroups'>Groups</h6>
      <ul type = 'square'ng-show= 'showGroups'ng-repeat = "(subKey,subVal) in val">
        <li ng-click = 'showKeys = !showKeys'ng-show = "cg.showSubGroup(subVal)" class = 'list-group-item'><a>{{subKey}}</a>
          <span ng-show = 'showKeys'class = 'glyphicon glyphicon-chevron-up pull-right'></span>
          <span ng-hide = 'showKeys'ng-click = 'showKeys = true'class = 'glyphicon glyphicon-chevron-down pull-right'></span>
        </li>
        <h6 ng-show = 'showKeys'>Keys</h6>
        <ul type = 'square' ng-show = 'showKeys' ng-repeat = '(nanoKey, nanoVal) in subVal'>
          <li><a ng-href="#/view_company_term/{{subKey}}/{{nanoKey}}/{{cg.clientId}}">{{nanoKey}}</a>
        </ul>
      </ul>
    </ul>
  </div>

</div>
