<div ng-controller = "LoginController">
  <h1  class = "col-md-offset-1">
    <a ng-controller = "CompanyTermController as ct"href="#/companies">
      <span class = 'glyphicon glyphicon-home'></span>
    </a>
    <a ng-click = "logOut()">
      <span class = "glyphicon glyphicon-log-out"></span>
    </a>
  </h1>
</div>
<div ng-controller = "CompanyTermController as ct"class="jumbotron">
  <h1 class = 'col-md-offset-1'>
    {{ct.term.key}}
    <span ng-controller = "CompanyController as cc"ng-click = "cc.modalTerm(ct.clientId,ct.term)" class = "glyphicon glyphicon-plus"></span>
  </h1>
</div>
<div ng-controller = "CompanyTermController as ct"class="row">

  <div class="col-lg-6 col-md-offset-1">
    <ul ng-repeat = "(key,val) in ct.term" class="list-group">
      <li ng-if= "!ct.termKeys(key)"class = "list-group-item">
        <a><strong>{{key}}:</strong></a>
        <a editable-text="ct.term[key]"onbeforesave="ct.editTerm(key,$data)"  >{{ ct.term[key] || "empty" }}</a>
      </li>
      <li ng-hide = "key == 'softDelete' || key == 'translations' || key == '__v'"ng-if= "ct.termKeys(key)"class = "list-group-item">
        <a><strong>{{key}}:</strong></a>
        <a>{{ ct.term[key] || "empty" }}</a>
      </li>
    </ul>
    <ul class = 'list-group'>
      <li class = 'list-group-item'> <a><strong>softDelete:</strong></a> <input ng-change = 'ct.softDelete(ct.term)'type="checkbox" ng-model = 'ct.term.softDelete'></li>
      <br>
      <li ng-click = 'showKeys = !showKeys'class = "list-group-item">
        <a><strong><u>Translations</u></strong></a>
        <span ng-show = 'showKeys'class = 'glyphicon glyphicon-chevron-up pull-right'></span>
        <span ng-hide = 'showKeys'ng-click = 'showKeys = true'class = 'glyphicon glyphicon-chevron-down pull-right'></span>
      </li>
    </ul>
      <ul ng-show= 'showKeys'ng-repeat = "trans in ct.translations">
        <ul ng-repeat = "(subKey, subVal) in trans">
          <li ng-hide = "subKey == 'needsTrans' || subKey == '_id'">
            <a>{{subKey}}:</a>
            <a editable-text="subVal"onbeforesave="ct.editTranslation(subKey,$data,trans)">{{ subVal || "empty" }}</a>
          </li>
          <li ng-show = "subKey == '_id'">
            <a>{{subKey}}:</a>
            <a >{{ subVal || "empty" }}</a>
          </li>
        </ul>
        <ul>
          <li> <a>needsTranslation: </a><input ng-change = "ct.editTranslation('needsTrans',trans.needsTrans,trans)"type="checkbox" ng-model = 'trans.needsTrans'></li>
          <button ng-click = 'ct.deleteTrans(trans)' class = 'btn btn-danger'type="button" name="button">Delete</button>
        </ul>
        <br>
      </ul>
  </div>
</div>
